/* Header Styling */

.headerbox {
    height: auto;
    background-color: white;
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

.mainlogo {
    display: grid;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation Bar Styling */

.navbar {
    background-color: rgb(252, 211, 134);
    width: auto;
    max-width: 1280px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
  
.navbar span {
    margin-left: 15px;
    margin-right: 15px;
    line-height: 50px;
  }
  
  .navbar a {
      color: black;
      font-family: Doppio One;
      text-decoration: none;
      font-size: 1rem;
  }
  
  .navbar a:hover {
      color: black;
      text-decoration: underline;
      font-family: Doppio One;
      font-size: 1rem;
  }

/* Splash Image */

.splashimage {
    width: 100%;
    max-width: 1280px;
    height: 380px;
    background: no-repeat linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url(/images/BakeryOutside4.jpeg) right bottom;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Promotional Text over Splash Image */

.promotext {
    font-size: 3.25rem;
    letter-spacing: 2px;
    width: auto;
    color:rgb(255,255,255,1);
    text-align: center;
    font-family: Doppio One;
    display: flex;
}

/* Reserve Button - Link to Contact Section */

.reservebutton {
    color: black;
    font-size: 1rem;
    background-color: rgb(255,255,255);
    font-family: Doppio One;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    display: flex;
}

.reservebutton:hover {
    color: black;
    background-color:rgb(255,255,255,0.8);
}

/* Section Header */

.sectionname {
    height: 50px;
    background-color: rgb(245,245,245);
    width: auto;
    max-width: 1280px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.sectionname h2 {
    color: black;
    font-size: 1rem;
    font-family: Doppio One;
    line-height: 50px;
    display: inline;
}

.sectionname a {
    color: black;
    vertical-align: middle;
    position: relative;
}

/* Back To Top Arrow Button */

.toparrow {
    line-height: 50px;
    margin-bottom: 5px;
    margin-right: 30px;
    float: right;
}

/* 3 Col Section Wrapper containing the different "Cards" */

.sectionwrapper-a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: auto;
    max-width: 1280px;
    text-align: center;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
  }

   /* 2 Col Section Wrapper containing the different "Cards" */

   .sectionwrapper-b {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: auto;
    max-width: 1280px;
    text-align: center;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
  }

/* Card Styling */

.maincard {
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-shadow: 2px 1px 5px rgb(225,225,225);
    width: auto;
    background-color: white;
  }

.maincard h2 {
    font-family: Doppio One;
    text-align: center;
    font-size: 1.3rem;
  }

.maincard p {
    font-family: Spectral;
    text-align: justify;
    padding-top: 20px;
  }

.pcardtextcentered {
  text-align: center !important;
  padding-top: 5px !important;
}

.maincard img {
    width: 200px;
    max-width: 100%;
    filter: grayscale(35%);
    opacity: 1;
    border-radius: 50%;
    
  }

  /* Additional Map Styling */

.map {
    filter: grayscale(100%);
    width: 100%;
    height: 300px;
    border: 1px dashed #ccc;
    border-radius: 4px;
  }