/* Header Styling */

.headerbox {
    height: auto;
    background-color: white;
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

.mainlogo {
    display: grid;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation Bar Styling */

.navbar {
    background-color: rgb(252, 211, 134);
    width: auto;
    max-width: 1280px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
  
.navbar span {
    margin-left: 15px;
    margin-right: 15px;
    line-height: 50px;
  }
  
  .navbar a {
      color: black;
      font-family: Doppio One;
      text-decoration: none;
      font-size: 1rem;
  }
  
  .navbar a:hover {
      color: black;
      text-decoration: underline;
      font-family: Doppio One;
      font-size: 1rem;
  }

/* Splash Image */

.splashimage {
    width: 100%;
    max-width: 1280px;
    height: 380px;
    background: no-repeat linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url(/images/BakeryOutside4.jpeg) right bottom;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Promotional Text over Splash Image */

.promotext {
    font-size: 3.25rem;
    letter-spacing: 2px;
    width: auto;
    color:rgb(255,255,255,1);
    text-align: center;
    font-family: Doppio One;
    display: flex;
}

/* Reserve Button - Link to Contact Section */

.reservebutton {
    color: black;
    font-size: 1rem;
    background-color: rgb(255,255,255);
    font-family: Doppio One;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    display: flex;
}

.reservebutton:hover {
    color: black;
    background-color:rgb(255,255,255,0.8);
}