@import url("https://fonts.googleapis.com/css?family=Doppio+One%7cSpectral");

/* Header Styling */

.headerbox {
    height: auto;
    background-color: white;
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

.mainlogo {
    display: grid;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation Bar Styling */

.navbar {
  background-color: rgb(252, 211, 134);
  width: auto;
  max-width: 1280px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar span {
  margin-left: 15px;
  margin-right: 15px;
  line-height: 50px;
}

.navbar a {
    color: black;
    font-family: "Doppio One", sans-serif;
    text-decoration: none;
    font-size: 1rem;
    font-display: swap;
}

.navbar a:hover {
    color: black;
    text-decoration: underline;
    font-family: "Doppio One", sans-serif;
    font-size: 1rem;
    font-display: swap;
}

/* Splash Image */

.splashimage {
    width: 100%;
    max-width: 1280px;
    height: 380px;
    background: no-repeat linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url(/assets/images/bakery.webp) right bottom;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Promotional Text over Splash Image */

.promotext {
    font-size: 3.25rem;
    letter-spacing: 2px;
    width: auto;
    color:rgb(255,255,255,1);
    text-align: center;
    font-family: "Doppio One", sans-serif;
    display: flex;
    font-display: swap;
    padding: 0px 20px;
}

/* Reserve Button - Link to Contact Section */

.reservebutton {
    color: black;
    font-size: 1rem;
    background-color: rgb(255,255,255);
    font-family: "Doppio One", sans-serif;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    display: flex;
    font-display: swap;
}

.reservebutton:hover {
    color: black;
    background-color:rgb(255,255,255,0.8);
}

/* Section Header */

.sectionname {
    height: 50px;
    background-color: rgb(245,245,245);
    width: auto;
    max-width: 1280px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.sectionname h2 {
    color: black;
    font-size: 1rem;
    font-family: "Doppio One", sans-serif;
    line-height: 50px;
    display: inline;
    font-display: swap;
}

.sectionname a {
    color: black;
    vertical-align: middle;
    position: relative;
}

/* Back To Top Arrow Button */

.toparrow {
    line-height: 50px;
    margin-bottom: 5px;
    margin-right: 30px;
    float: right;
}

/* 3 Col Section Wrapper containing the different "Cards" */

.sectionwrapper-a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: auto;
    max-width: 1280px;
    text-align: center;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
  }

  /* 2 Col Section Wrapper containing the different "Cards" */

  .sectionwrapper-b {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: auto;
    max-width: 1280px;
    text-align: center;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
  }

/* Card Styling */

.maincard {
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-shadow: 2px 1px 5px rgb(225,225,225);
    width: auto;
    background-color: white;
  }

.maincard h2 {
    font-family: "Doppio One", sans-serif;
    text-align: center;
    font-size: 1.3rem;
    font-display: swap;
  }

.maincard p {
    font-family: Spectral, serif;
    text-align: justify;
    padding-top: 20px;
    font-display: swap;
  }

.pcardtextcentered {
  text-align: center !important;
  padding-top: 5px !important;
}

.maincard img {
    width: 200px;
    max-width: 100%;
    filter: grayscale(35%);
    opacity: 1;
    border-radius: 50%;
    
  }

.icon {
    text-align: center;
    font-size: 1.3rem; 
    }

/* Additional Map Styling */

.map {
    filter: grayscale(100%);
    width: 100%;
    height: 300px;
    border: 1px dashed #ccc;
    border-radius: 4px;
  }

/* Opening Hours Table Styling */

table {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
  }

tr {
    line-height: 25px;
  }

th {
    font-family: "Doppio One", sans-serif;
    font-size: 1rem;
    text-align: right;
    font-display: swap;
  }

td {
    font-family: "Doppio One", sans-serif;
    font-size: 1rem;
    text-align: center;
    font-display: swap;
  }

td:empty {
    width: 50px;
  }

/* Contact Form Styling */

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px dashed #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: "Doppio One", sans-serif;
    font-display: swap;
  }
  
input[type=submit] {
    background-color: rgb(252, 211, 134, 0.8);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Doppio One", sans-serif;
    font-size: 1rem;
    font-display: swap;
  }
  
input[type=submit]:hover {
    background-color: rgb(252, 211, 134);
  }

label {
    font-family: "Doppio One", sans-serif;
    color: black;
    font-display: swap;
  }

textarea {
    height: 100px;
    resize: none;
  }

input:focus, textarea:focus {
    outline-color: #ccc;
    outline-width: 1px;
  }

/* Social Media Icons Styling */

.socialicons {
font-size: 2rem;
text-align: center !important;
padding-top: 0px !important;
  }

.socialicons a {
  color: rgb(252, 211, 134, 0.8);
  }

.socialicons a:hover {
  color: rgb(252, 211, 134);
  }

/* Address & Telephone Number Paragraph Styling */

.pcontact {
  font-family: Spectral, sans-serif !important;
  font-size: 1rem;
  color: black;
  text-align: center !important;
  padding-top: 0px !important;
  font-display: swap;
  }

.footer {
  font-family: Spectral, serif;
  font-size: 1rem;
  line-height: 50px;
  display: inline;
  font-display: swap;
  color: black;
}

  /* Media Queries */

  @media screen and (max-width: 800px) {
   
    /* 3 Col Section Wrapper containing the different "Cards" */

.sectionwrapper-a {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  width: auto;
  max-width: 1280px;
  text-align: center;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
}

/* 2 Col Section Wrapper containing the different "Cards" */

.sectionwrapper-b {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  width: auto;
  max-width: 1280px;
  text-align: center;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
}

.maincard img {
  width: 125px;
  max-width: 100%;
  filter: grayscale(35%);
  opacity: 1;
  border-radius: 50%;
  
}

.promotext {
  font-size: 250%;
}

.reservebutton {
  font-size: 80%
}

.navbar {
  background-color: white;
  width: auto;
  max-width: 1280px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  
}

.navbar span {
  margin-left: 0px;
  margin-right: 0px;
  line-height: 35px;
  display: block;
  margin-top: 1px;
  background-color: rgb(252, 211, 134);

}

  }